.createContainer{
    position: relative;
  display: block;
  width: auto;
  min-height: 100vh;
  display: block;
  text-align: center;

}

.formOutter{
    border: 3px solid goldenrod;  
  background: rgba(0, 0, 0, 0.75);
  color: whitesmoke;
  height: auto;
  width: auto;
  padding: 2%;
  margin: 2%;
  border-radius: 5%;
  text-align: center;
    
}

.gridOutside{
   display: block;
   background: rgba(46, 162, 197, 0.7);
   
    
}

.gridInside{
    display: inline-block;    
    background: rgba(0, 0, 0, 0.75);
    width: 24%;
    height: auto;
    vertical-align: top;
    border: darkgoldenrod 3px solid;
    border-radius: 5%;
    padding: 1%;
    color: darkgoldenrod;
    margin-top: 1%;
    align-content: center;
}

.form-group{
    color: darkgoldenrod;
    text-align: left;
}
.logoContainer img{
    
    width: 100%;
    max-height: auto;
}
.text-responsive {
    
    font-size: calc(50% + 1vw + 1vh);
  }
  .wrapper404{
    width: calc(90% + 1vw +1vh);
  }
  .gbName{
    font-size: calc(100% + 1vw + 1vh);
  }